.App {
  font-family: 'Oswald', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1535776142635-8fa180c46af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2756&q=80");
}

.navbar {
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  background-color: white;
  width: 100vw;
  height: 60px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.navbar .onHome {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: black;
  color: white;
}

.navbar .notOnHome {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: black thin solid;
  border-left: black thin solid;
  cursor: pointer;
}

.navbar .notOnHome:hover {
  background-color: black;
  color: white;
}

.navbar .onContact {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: white;
  background-color: black;
}

.navbar .notOnContact {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: black thin solid;
  border-left: black thin solid;
  cursor: pointer;
}

.navbar .notOnContact:hover {
  background-color: black;
  color: white;
}

.navbarChanged {
  opacity: 0;
  -webkit-transition: visibility 0s 1s, opacity 1s linear;
  transition: visibility 0s 1s, opacity 1s linear;
}

.home {
  padding-top: 60px;
}

.home .title {
  height: 100vh;
  background-color: #f5f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .title div {
  margin-right: 5vw;
  margin-top: 5vw;
}

.home .title div .seeRecent {
  width: 125px;
  padding: 5px;
  border: black thin solid;
  border-radius: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.home .title div .seeRecent:hover {
  background-color: black;
  color: white;
}

.home .title div .socialMedia img {
  padding-right: 25px;
  width: 50px;
  height: 50px;
}

.home .title .avatar {
  margin-top: 5vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .summary {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .summary p {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
}

.home .skills {
  height: 100vh;
  background-color: #f5f8fa;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .skills .skillCard {
  background-color: #d9f2e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  width: 75%;
  padding: 30px;
  border-radius: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .skills .skillCard div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .skills .skillCard div h3 {
  padding-bottom: 30px;
}

.home .skills .skillCard div div {
  border: none;
}

.home .skills .skillCard div div img {
  width: 60px;
}

.home .skills .skillCard div .backend img {
  width: 100px;
}

.home .skills .skillCard hr {
  margin: 0;
}

.home #recentWork {
  background-color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.home #recentWork .projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80vw;
  color: white;
}

.home #recentWork .projects div a:visited {
  color: white;
}

.home #recentWork .projects div img {
  max-width: 75%;
}

.home #recentWork div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home #recentWork div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home #recentWork div div .hairco {
  margin-bottom: 0;
}

.home #recentWork div div .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .background {
  width: 100vw;
  opacity: 0.75;
  position: absolute;
}

.home .background video {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100vw;
}

.home .funfacts {
  height: 100vh;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home .funfacts h2 {
  max-width: 80vw;
}

.contact {
  padding-top: 5vw;
  background: -webkit-gradient(linear, left top, right top, from(#95cbc9), to(#E8A87C));
  background: linear-gradient(to right, #95cbc9, #E8A87C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .submission {
  margin-top: 8vw;
  position: absolute;
  z-index: 10;
}

.contact .submission p {
  margin: 0;
}

.contact .submission form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .submission form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.contact .submission form div div {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .submission form .message {
  width: 100%;
  height: 100px;
}

.contact .submission .callMe {
  margin-top: 25px;
}

#randomFact {
  width: 200px;
  height: 65px;
  border-radius: 25px;
  font-size: 1rem;
}

.submissionBackground {
  position: fixed;
  top: 100px;
  opacity: 0.1;
  background-color: black;
  width: 700px;
  height: 450px;
}

.particles {
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=App.css.map */