$color1: rgb(217,242,232);
// #E27D60;
$color2: rgb(245,248,250);
// rgb(149,203,201);
$color3: white;
// #E8A87C;
$color4: rgb(217,242,232);
// #C38D9E;
$color5: white;
// #41B3A3;
// rgb(245,248,250)



// App
.App{
  font-family: 'Oswald', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1535776142635-8fa180c46af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2756&q=80')
}

//Navbar
.navbar{
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 3px black;
  background-color: $color3;
  width: 100vw;
  height: 5vw;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  transition: opacity 1s linear;
  .onHome{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    background-color: black;
    color: white;
  }
  .notOnHome{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:  100%;
    border-right: black thin solid;
    border-left:black thin solid;
    cursor: pointer;
  }
  .notOnHome:hover{
    background-color: black;
    color: white;
  }
  .onContact{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    color: white;
    background-color: black;
  }
  .notOnContact{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: black thin solid;
    border-left:black thin solid;
    cursor: pointer;
  }
  .notOnContact:hover{
      background-color: black;
      color:white;
  }
}
// navbarChanged
.navbarChanged{
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

//Home
.home{
  padding-top: 5vw;
  .title{
    height: 100vh;
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: left;
    h1{
      margin-top: 2vw;
      margin-left: 2vw;
    }
    h2{
      margin-left: 2vw;
    }
    .seeRecent{
      margin:2vw;
      width: 125px;
      padding: 5px;
      border: black thin solid;
      border-radius: 10px;
      cursor: pointer;
    }
    .socialMedia{
      margin-left: 2vw;
      width: 50px;
      height: 50px;
    }
    .avatar{
      position: absolute;
      margin-top: 5vw;
      margin-right: 10vw;
      top: 0;
      right: 0;
      // width: 25%;
      border-radius: 250px;
    }
  }
  .summary{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 5vw;
    }
  }
  .skills{
    height: 100vh;
    background-color: $color2;
    z-index:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skillCard{
      background-color: $color4;
      display: flex;
      height: 75%;
      width: 75%;
      padding: 30px;
      border-radius: 30px;
      justify-content: space-around;
      div{
        display:flex;
        flex-direction: column;
        align-items:center;
        h3{
          padding-bottom: 30px;
        }
        div{
          border: none;
          img{
            width: 60px;
          }
        }
        .backend{
          img{
            width: 100px;
          }
        }
      }
      hr{
        margin: 0;
      }
    }
  }
  #recentWork{
    background-color: $color3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    .projects{
      div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80vw;
        color: white;
        a:visited{
          color: white
        }
        img{
          max-width:75%;
        }
      }
    }
    div{
      display: flex;
      flex-direction: column;
      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        .hairco{
          margin-bottom: 0;
        }
        .list{
          display: flex;
          flex-direction: row;
          justify-content: space-around
        }
      }
    }
  }  
  .background{
    width: 100vw;
    opacity: 0.75;
    position: absolute;
    video{
      object-fit: fill;
      width: 100vw;
    }
  }  
  .funfacts{
    height: 100vh;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2{
      max-width: 80vw;
    }
  }
}

// Contacts Page
.contact{
  padding-top: 5vw;
  background: linear-gradient(to right, rgb(149,203,201), #E8A87C);
  display: flex;
  flex-direction: column;
  align-items: center;
  .submission{
    margin-top: 8vw;
    position: absolute;
    p{
      margin: 0;
    }
    form{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        display: flex;
        margin: 0;
        padding: 0;
        div{
          margin: 25px;
          display: flex;
          flex-direction: column;
        }
      }
      .message{
        width: 100%;
        height: 100px;
      }
    }
    .callMe{
      margin-top: 25px;
    }
  }
}

#randomFact{
  width: 200px;
  height: 65px;
  border-radius: 25px;
  font-size: 1rem;
}

.submissionBackground{
  position: fixed;
  top: 100px;
  opacity: 0.1;
  background-color: black;
  width: 700px;
  height: 450px;
}

// Animation
.particles{
  width: 100vw;
  height: 100vh;
}